<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mb-0 h1">EVENTBRITE</span>
  </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" <%= link_to "Home", root_path %></a>   <!-- events#index-->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_event_path %>">Create</a>   <!-- events#new-->
    </li>
    <a class="nav-item">
      <% if session[:user_id] %>
        div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="nav-item"><%= button_to "Log out", session_path(session.id), :method=>:delete, :class=>:destroy, class: "nav-link btn btn-outline-secondary" %></a>   <!-- sessions#destroy-->
          <a class="dropdown-item">My profile</a>  <!-- users#show-->
        </div>
      <% elsif %>
      <a class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Bouton d'actions
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="<%= new_user_registration_path %>">Sign up</a></li>
        <li><a class="dropdown-item" href="<%= new_user_session_path %>">Log in</a></li>
      </ul>
    </a>
      <% end %>
    </a>
  </div>
</div>

    <%= yield %>
  </body>
</html>